*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}
body{
    /* background-image: url("abc.jpg"); */
    background-size: cover;
    overflow-x: hidden;
}
.menu{
    width: 1535px;
    height: 41px;
    background-color: #131621E8;
    }

    nav ul{
        margin-left:925px;
    }

nav ul li {
    display: inline-block;
    /* float: right; */

}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    float: right;
}
section{
    display: flex;
}
.image{
    /* background-color: aqua; */
    background-image: url("xyz.jpg");
    /* opacity: 50%; */
    width: 616px;
    height: 550px;
}
.write{
    background-color: rgb(218, 218, 218);
    width:420px ;
    height: 478px;
    margin-left: 134px;
    margin-top: 43px;
    border-radius: 30px;
}
.blank{
    background-color: rgb(241, 229, 229);
    width: 664px;
}
.account{
    font-size: 34px;
    margin-left: 84px;
    position: relative;
    top: 55px;
    font-family: 'Open Sans', sans-serif;
}
.word1{
    font-size: 18px;
    position: relative;
    top: 99px;
    margin-left: 72px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.word2{
    font-size: 18px;
    position: relative;
    top: 98px;
    margin-left: 118px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.email{
    font-size: 174px;
    position: relative;
    margin-left: 25px;
    border-radius: 15px;

}
.pass{
    
    font-size: 6px;
    position: relative;
    margin-left: 25px;
    border-radius: 15px;
}
#create-btn{
    padding: 15px;
    background-color: black;
    border-radius: 0.8rem;
    margin-left: 35%;
    margin-top: 20px;
}
#create-btn span{
    text-align: center;
    color: #fff;
}
.lastword{
    
font-family: 'Open Sans', sans-serif;
font-size: 14px;
margin-left: 125px;
position: relative;
top: 15px;

}
.lastword1{
   
font-family: 'Open Sans', sans-serif;
font-size: 14px;
margin-left: 184px;
position: relative;
top: 22px;

}
.join{
    font-size: 84px;
position: relative;
top: 232px;
margin-left: 67px;
color: #904545;

}
.footer{
    
    background: #000000de;
    position:absolute;
    bottom: 0px;
    top:588px;
    left:0;
    right: 0;
    height: 33%;
    width: 100vw;
   
    color:#fff;
    padding: 0px 0px 100px 0px;
    
}
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    float:right;
    
    
}
.container h2{
    font-size: 40px;
    /* text-align: center; */
    margin: auto;
    /* padding-top:2%; */
}
.footer-col .aboutus{
    font-family: 'Poppins', sans-serif;
    margin-right: 75px;
    margin-top: -40px;

}
.footer-col .whyfitness{
    font-family: 'Poppins', sans-serif;
    margin-right: 37px;
    margin-top: -40px;

}
.footer-col .connect{
    font-family: 'Poppins', sans-serif;
    margin-right: 30px;
    margin-top: -40px;

}
.connect1{
    
    font-family: 'Poppins', sans-serif;
    margin-left: 27px;
    margin-top: -94px;

}

a:visited{color: #ffffffde;}
a:hover {
    color: #fff;
    text-decoration: underline;
  }
  



