<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="contactus.css">
    <script src="https://kit.fontawesome.com/8c22c77b72.js" crossorigin="anonymous"></script>
</head>
<body>
{{>header}}
    <div class="box1">
    
    
    
    </div>
 
    
   </div>
</div>
<div class="grey">
</div>
   <div class="write">
    Connect with us
</div>
<div class="write1">
    If you have any feedback or questions about our trainers,
    <br>
    or our services, please contact us by filling out the form.   
</div>
<div class="write2">
    All forms fields are required*
</div>




<div class="write3">
    First Name
</div>
<div class="fname">
    <input type="text" placeholder="" style="width: 375px;height: 30px;border-radius: 15px;"
    >
</div>
<div class="write4">
    Last Name
</div>
<div class="lname">
    <input type="text" placeholder=""  style="width: 375px;height: 30px;border-radius: 15px;position: relative;top:-15px;left:420px ;"
    >
</div>
<div class="write5">
    Email  
</div>
<div class="email">
    <input type="email" placeholder=""  style="width: 375px;height: 30px;border-radius: 15px;position: relative;top:302px;left:420px ;"
    >
</div>
<div class="write6">
  Contact Number
</div>
<div class="Number">
    <input type="number" placeholder=""  style="width: 375px;height: 30px;border-radius: 15px;position: relative;top:340px;left:420px ;"
    >
</div>
<div class="write7">
    Contact Time
  </div>
  <div class="Time">
    <input type="text" placeholder=""  style="width: 375px;height: 30px;border-radius: 15px;position: relative;top:380px;left:420px ;"
    >
</div>
<div class="write8">
    Comments
 
</div>
<div class="comments">
  <input type="text" placeholder=""  style="width: 375px;height: 60px;border-radius: 15px;position: relative;top:420px;left:420px ;"
  >
</div>
<button id="submit" , type="submit">
    <span>Submit</span>
</button>
{{>footer}}


   {{!-- <footer class="footer">
    <div class="container">
        <h2>Fitness Coach.</h2>
        <h3>Find your dream physique</h3>
        <div class="row">
            <div class="footer-col">
                <div class="aboutus">
                    <h3>About us </h3>
                    <br>
                    <h4>Our club </h4>
                    <br>
                    <h4>Our legacy </h4>
                    <br>
                    <h4>Our trainer </h4>

               
                
                </div>
                
               
            </div>
                <div class="footer-col">
                    <div class="whyfitness">
                        <h4>Why fitness hub? </h4>
                        <br>
                        <h4>Workout </h4>
                        <br>
                        <h4>Training </h4>
                        <br>
                        <h4>Health </h4>
                        
                    </div>
                
                
            </div>
            <div class="footer-col">
                <div class="connect">
                    <h4>Connect with us</h4>
                    <br>
                    <h4><i class="fa-brands fa-facebook-f "></i> </h4>
                    <br>
                    <h4><i class="fa-brands fa-whatsapp"></i> </h4>
                    <br>
                    <h4><i class="fa-brands fa-instagram"></i> </h4>
                    
            
                </div>
                <div class="connect1">
                    
                    <h4><a href="https://www.facebook.com/">Facebook</a></h4>
                    <br>
                    <h4><a href="https://web.whatsapp.com/">Whatsapp</a> </h4>
                    <br>
                    <h4><a href="https://www.instagram.com/">Instagram</a> </h4>
                    
            
                </div>
               
            </div>
        </div>

    </div>

   </footer> --}}

</body>
</html>