<footer class="footer">
    <div class="container">
        <h2>Fitness Coach.</h2>
        <h3>Find your dream physique</h3>
        <div class="row">
            <div class="footer-col">
                <div class="aboutus">
                    <a href="aboutus.html"><h3>About us </h3></a>
                    <br>
                    <h4>Our club </h4>
                    <br>
                    <h4>Our legacy </h4>
                    <br>
                    <h4>Our trainer </h4>

               
                
                </div>
                
               
            </div>
                <div class="footer-col">
                    <div class="whyfitness">
                         <a href="whyfitnesshub.html"><h4>Why fitness hub? </h4></a>
                        <br>
                        <h4>Workout </h4>
                        <br>
                        <h4>Training </h4>
                        <br>
                        <h4>Health </h4>
                        
                    </div>
                
                
            </div>
            <div class="footer-col">
                <div class="connect">
                    <h4>Connect with us</h4>
                    <br>
                    <h4><i class="fa-brands fa-facebook-f "></i> </h4>
                    <br>
                    <h4><i class="fa-brands fa-whatsapp"></i> </h4>
                    <br>
                    <h4><i class="fa-brands fa-instagram"></i> </h4>
                    
            
                </div>
                <div class="connect1">
                    
                    <h4><a href="https://www.facebook.com/">Facebook</a></h4>
                    <br>
                    <h4><a href="https://web.whatsapp.com/">Whatsapp</a> </h4>
                    <br>
                    <h4><a href="https://www.instagram.com/">Instagram</a> </h4>
                    
            
                </div>
               
            </div>
        </div>

    </div>

   </footer>