
    <div>
        <nav class="menu">
       
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="contactus.html">Contact</a></li>
                <li><a href="signin.html">Sign in</a></li>
            </ul>
         
    </nav>
   </div>